@font-face {
    font-family: Raleway;
    src: url(./assets/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

:root {
    --padding: 24px;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 80px auto;
    font-family: Raleway;
    color: #EEEEEE;
}


/* Header */
header {
    grid-row: 1;
    grid-column: 1 / 3;
    background-color: #3A4750;
    padding-left: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    z-index: 3;
}

header > img {
    margin-right: 8px;
}


/* Sidebar */
#sidebar {
    grid-row: 2;
    grid-column: 1;
    background-color: #3A4750;
    padding-left: var(--padding);
    padding-right: calc(var(--padding) / 2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

#sidebar > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#project-add {
    display: flex;
    justify-content: center;
    align-items: center;
    --btn-size: 32px;
    width: var(--btn-size);
    height: var(--btn-size);
    border: none;
    border-radius: 50%;
    color: #3A4750;
    background-color: #F6C90E;
    font-size: 60px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.6);
}

#project-add > img {
    width: var(--btn-size);
}

#project-add:active {
    box-shadow: none;
}

#project-list {
    margin-left: calc(var(--padding) * -1);
    margin-right: calc((var(--padding) / 2) * -1);
}

#project-list > div {
    display: flex;
    flex-direction: row;
    height: 32px;
    transition: background-color 0.5s;
    align-items: center;
    justify-content: space-between;

}

#project-list > div:hover {
    background-color: #303841;
    cursor: pointer;
}


#project-list > div > p {
    margin: 0px;
    padding-left: var(--padding);
    font-weight: 500;
}

#project-list > div > svg {
    transform: scale(0.45);
    fill: #EEEEEE;
    transition: fill 0.3s, opacity 0.5s;
    opacity: 0;
}

#project-list > div > svg:hover {
    fill: red;
}

#project-list > div:hover > svg{
    opacity: 1;
}

/* Content */
#content {
    grid-row: 2;
    grid-column: 2;
    background-color: #303841;
    padding: 0px var(--padding);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#content > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#task-add {
    background-color: #F6C90E;
    color: #3A4750;
    border: none;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
}

#task-add:hover {
    background-color: #f3d045;
    cursor: pointer;
}

#task-add:active {
    box-shadow: none;
}

#task-list {
    margin-left: calc(var(--padding) * -1);
    margin-right: calc(var(--padding) * -1);
}

#task-list > div {
    display: flex;
    flex-direction: row;
    height: 32px;
    transition: background-color 0.5s;
    align-items: center;
    justify-content: space-between;
}

#task-list > div:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-color: linear-gradient(90deg, rgba(58,71,80,1) 0%, rgba(48,56,65,1) 40%); */
}

#task-list > div > p {
    padding: 0px var(--padding);
}

/* Custom Alert */
#alert-bg {
    display: none;
    position: fixed;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    z-index: 4;
}

#alert-container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#alert-box {
    display: none;
    background-color: #303841;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
}

#alert-header {
    background-color: #3A4750;
    padding: 8px var(--padding);
}

#alert-header > h3 {
    margin: 0px;
}

#alert-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px var(--padding);
    margin: 16px 0px;
}

.task-prop {
    margin-bottom: 12px;
}

.task-prop > input {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3A4750;
    color: #EEEEEE;
    height: 20px;
}

.task-prop > input:focus {
    outline: #EEEEEE solid 1px;
}

.task-prop > textarea {
    resize: none;
}

#alert-footer {
    display: flex;
    padding: 8px var(--padding);
    padding-top: 0px;
    justify-content: space-between;
}

#alert-footer > button {
    background-color: #F6C90E;
    color: #3A4750;
    /* border-radius: 5px; */
    border: none;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.6);
}

#alert-footer > button:hover {
    background-color: #f3d045;
    cursor: pointer;
}


/* Pelette */
/*
    Main: #303841
    Side: #3A4750
    Interactive: #F6C90E
    Text: #EEEEEE
 */